h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: rgb(31, 241, 8);
}

h1 {
  font-size: 30px;

  text-transform: uppercase;
  font-style: normal;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;

  text-transform: uppercase;
}
p {
  font-size: 15px;
  color: rgb(254, 7, 7);
  line-height: 1.5;
}
li {
  font-size: 15px;
  color: rgb(255, 215, 0);
}
footer p {
  font-size: 10px;
}
article header p {
  font-style: italic;
}
#Copyright {
  font-family: fantasy;
}
.related-authors {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
}
.related {
  list-style: none;
}
#simple {
  font-family: monospace;
}
.main-heading {
  background-color: #f7f7f722;
}
aside {
  background-color: rgba(0, 255, 255, 0.188);
  border-top: 30px solid seagreen;
  border-bottom: 30px solid rgb(245, 6, 6);
}
.Copyright {
  background-color: rgba(0, 0, 0, 0.925);
}
.first-line {
  font-weight: bold;
}
li:last-child {
  font-weight: bold;
  font-style: italic;
  background-color: black;
}
li:nth-child(odd) {
  font-family: cursive;
  font-style: initial;
  color: chartreuse;
}

article p:last-child {
  color: black;
}
